{% extends "main.html" %}
{%block main%}
<div class="main">
    <select name="level" class="filter-select">
                    <option value="">merch</option>
                    <option value="lite" {% if level_filter == 'lite' %}selected{% endif %}>albums</option>
                    <option value="medium" {% if level_filter == 'medium' %}selected{% endif %}>clothes</option>
                    <option value="hard" {% if level_filter == 'hard' %}selected{% endif %}>accessories</option>
                </select>
     
                <button type="submit" class="button">Применить</button>
                <a href="?" class="reset-button">Сбросить</a>
   <div class="merch">
    {% for merchandise in Merchandises %}
    <div class="fwo">
        {% if merchandise.photo %}
            <img src="{{ merchandise.photo.url }}" alt="{{ merchandise.name }}">
        {% else %}
            <img src="/static/images/placeholder.jpg" alt="Нет фото">
        {% endif %}
        <h3 class="nazvanya">{{ merchandise.name }}</h3>
        <p class="text">{{ merchandise.cost }} $</p>
    </div>
    {% empty %}
    <div class="fwo">
        <p>Товаров нет в базе данных</p>
    </div>
    {% endfor %}
</div>
         
          <div class="contein">
            <button class="button">
                SHOP ALL 25TH ANNIVERSARY
            </button>

    

          </div>
          <div class="tipav">
            <img src="../static/media/videotipa.png" alt="nadovideo">
          </div>

    <div class="merch2">
        <div>
            <img src="../static/media/Mystery T-Shirt 1.png" alt="m1" class="main-image">
            <p class="text2">MYSTERY T-SHIRT 1 MYSTERY</p>
        </div>
        <div>
            <img src="../static/media/c2.png" alt="m2" class="main-image">
            <p class="text2">MYSTERY CREWNECK </p>
        </div>
        <div>
            <img src="../static/media/C3.png" alt="m3" class="main-image">
            <p class="text2">MYSTERY ACCESSORY 1 </p>
        </div>
    </div>
    <div class="contein2">
        <button class="button21">
                SHOP COLLECTION
            </button>

    </div>
    <div class="tipospoty">
        <img src="../static/media/music.png" alt="tipospoty">
    </div>
     <p class="SHOPBY">UNCOMING EVENTS</p>

     
        
            <div class="redligh">
        <div class="redone">
            <img src="../static/media/redligh1.png" alt="Music" style="width: 444px; height: 205px;">
        </div>
        <div class="redone">
            <img src="../static/media/red.png" alt="BEST SELLERS" style="width: 444px; height: 205px;">
            <div class="image-text">BEST SELLERS</div>
        </div>
        <div class="redone">
            <img src="../static/media/red3.png" alt="SUMMER COLLECTION" style="width: 444px; height: 205px;">
            <div class="image-text">SUMMER COLLECTION</div>
        </div>
        <div class="redone">
            <img src="../static/media/red4.png" alt="LAST CHANCE" style="width: 444px; height: 205px;">
            <div class="image-text">LAST CHANCE</div>
        </div>
    </div>
     </div>
            <div class="photoall">
                 <img src="../static/media/Footer_SelfFooter-Self-Desktop.webp" alt="photoall">
            </div>

</div>  
{%endblock%}