{% extends "main.html" %}
{%block main%}
<div class="main">
    <div class="merch">
        <div class="fwo">
            <img src="../static/media/1.png" alt="лот1">
            <p class="text">SLIPKNOT 2LP (25TH ANNYVERSARY EDITION)</p>
        </div>
        <div class="fwo">
            <img src="../static/media/2.png" alt="лот3">
            <p class="text">SLIPKNOT (25TH ANNIVERSARY EDITION) CITRUS LP</p>
        </div>
        <div class="fwo">
            <img src="../static/media/3.png" alt="лот2">
            <p class="text">SLIPKNOT 2CD (25TH ANNYVERSARY EDITION)</p>
        </div>
        <div class="fwo">
            <img src="../static/media/4.png" alt="лот4">
            <p class="text">Slipknot 6LP (25th Anniversary BloodSplatter Box Set)</p>
        </div>
                <div class="fwo2">
                    <img src="../static/media/b2.png" alt="лот5">
                    <p class="text">Self Titled Faces T-Shirt</p>
                </div>
                <div class="fwo2">
                    <img src="../static/media/b3.png" alt="лот6">
                    <p class="text">9 Point Star Hockey Jersey</p>
                </div>
            </div>
        </div>
    </div>      
</div>
{%endblock%}