{% extends "main.html" %}
{%block main%}
<div class="main">
    <div class="merch">
        <div class="fwo">
            <img src="../static/media/1.png" alt="лот1">
            <p class="text">SLIPKNOT 2LP (25TH ANNYVERSARY EDITION)</p>
        </div>
        <div class="fwo">
            <img src="../static/media/3.png" alt="лот2">
            <p class="text">SLIPKNOT 2CD (25TH ANNYVERSARY EDITION)</p>
        </div>
        <div class="fwo">
            <img src="../static/media/4.png" alt="лот4">
            <p class="text">SLIPKNOT 6LP (25TH ANNIVERSARY BLOODSPLATTER BOX SET)</p>
        </div>
                <div class="fwo2">
                    <img src="../static/media/b2.png" alt="лот5">
                    <p class="text">SELF TITLED FACES T-SHIRT</p>
                </div>
                <div class="fwo2">
                    <img src="../static/media/b1.png" alt="лот7">
                    <p class="text">SELF TITLED 25 YEARS T-SHIRT</p>
                </div>
                <div  class="fwo2">
                    <img src="../static/media/b4.png" alt="лот8">
                    <p class="textlink"><a href="page.html" POINT STAR HOCKEY JERSEY>POINT STAR HOCKEY JERSEY</a></p>
                    
                </div>
                <div class="fwo2">
                    <img src="../static/media/f1.png" alt="лот9">
                    <p class="text">SELF TITLED BUTTON PACK</p>
                </div>
                <div class="fwo2">
                    <img src="../static/media/f3.png" alt="лот11">
                    <p class="text">SLIPKNOT 1999 WALL FLAG</p>
                </div>
                <div class="fwo2">
                    <img src="../static/media/f4.png" alt="лот12">
                    <p class="text">SLIDE BELT</p> 
                </div>
          </div>    
          <div class="contein">
            <button class="button">
                SHOP ALL 25TH ANNIVERSARY
            </button>
          </div>
          <div class="tipav">
            <img src="../static/media/videotipa.png" alt="nadovideo">
          </div>

    <div class="merch2">
        <div>
            <img src="../static/media/Mystery T-Shirt 1.png" alt="m1" class="main-image">
            <img src="../static/media/Item1.png" alt="m11" class="ovelay-image">
            <p class="text2">MYSTERY T-SHIRT 1 MYSTERY</p>
        </div>
        <div>
            <img src="../static/media/c2.png" alt="m2" class="main-image">
            <img src="../static/media/item2.png" alt="m2" class="ovelay-image">
            <p class="text2">MYSTERY CREWNECK </p>
        </div>
        <div>
            <img src="../static/media/C3.png" alt="m3" class="main-image">
            <img src="../static/media/item3.png" alt="m3" class="ovelay-image">
            <p class="text2">MYSTERY ACCESSORY 1 </p>
        </div>
    </div>
    <div class="contein2">
        <button class="button21">
                SHOP COLLECTION
            </button>
    </div>
    <div class="tipospoty">
        <img src="../static/media/music.png" alt="tipospoty">
    </div>
    <p class="SHOPBY">SHOP BY CATEGORY</p>

    <div class="redligh">
        <div class="redone">
            <img src="../static/media/redligh1.png" alt="Music" style="width: 444px; height: 205px;">
            <div class="image-text">MUSIC</div>
        </div>
        <div class="redone">
            <img src="../static/media/red.png" alt="BEST SELLERS" style="width: 444px; height: 205px;">
            <div class="image-text">BEST SELLERS</div>
        </div>
        <div class="redone">
            <img src="../static/media/red3.png" alt="SUMMER COLLECTION" style="width: 444px; height: 205px;">
            <div class="image-text">SUMMER COLLECTION</div>
        </div>
        <div class="redone">
            <img src="../static/media/red4.png" alt="LAST CHANCE" style="width: 444px; height: 205px;">
            <div class="image-text">LAST CHANCE</div>
        </div>
    </div>

     <p class="SHOPBY">UNCOMING EVENTS</p>

     <div class="contein2">
        <button class="button2">
                EXPLORE
            </button>
     </div>
            <div class="photoall">
                 <img src="../static/media/Footer_SelfFooter-Self-Desktop.webp" alt="photoall">
            </div>

</div>  
{%endblock%}