<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>{%block tab_header%}{%endblock%}</title>
</head>
<body>
     <header class="header">
        <div class="header-content">
            <img src="/static/media/logo.png" alt="logo" class="logo">
            <div class="shtuchki">
                <img src="../static/media/SVG (1).png" alt="тележка" class="firts">
                <a href="account.html" ACC><img src="../static/media/Vector.png" alt="человечек" class="second"></a>
                    <form action="/search" method="get" class="search-form">
                        <input type="text" name="q" placeholder="Поиск товаров" class="search-input">
                        <button type="submit" class="search-button">Найти</button>
                        </form>
            </div>
        </div>
        <div class="videoofirst">
            <video autoplay muted loop>
        <source src="../static/media/60992e8848534717aa6d95d5354e93cf.mp4" type="video/mp4"></video>
        </div>
        </header>
<main>
    {%block main%}
    {%endblock%}        
</main>
    <footer>
        <hr class="hr">
        </div>
            <h1 class="almost">IF YOU ARE USING A SCREEN READER AND ARE HAVING PROBLEMS USING THIS WEBSITE, PLEASE CALL 866-682-4413 FOR ASSISTANCE.</h1>

             <div class="last">
                <div>FAQ</div>
                <div>Contact Us</div>
                <div>Terms of Service</div>
                <div>Privacy Policy</div>
                <div>Refund policy</div>
            </div>
    </footer>
</body>
</html>
