<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Page</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="" alt="logo" class="logo">
            <div class="shtuchki">
                <img src="../static/media/SVG (1).png" alt="тележка" class="firts">
                <img src="../static/media/Vector.png" alt="человечек" class="second">
                <img src="../static/media/SVG.png" alt="лупа" class="third">
            </div>
        </div>
    </header>
<mainpage class="mainpage">
    <div class="stroka">
        <span class="pocherkivanie"><b>HOME</b></span>
        <img src="../static/media/logo.png" alt=">" class="arrow">
        <span class="pocherkivanie"><b>9 POINT STAR HOCKEY JERSEY</b></span>
    </div>
    <img src="../static/media/p1.png" class="colonka" alt="colonka">
    <img src="../static/media/p2.png" class="colonka" alt="colonka">
    <img src="../static/media/p3.png" class="colonka" alt="colonka">
    <img src="../static/media/p4.png" class="colonka" alt="colonka">
    <img src="../static/media/p5.png" class="colonka" alt="colonka">
    <img src="../static/media/p6.png" class="colonka" alt="colonka">
    <img src="../static/media/p7.png" class="colonka" alt="colonka">
</mainpage>
    
</body>
</html>