body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.header{
    margin: auto;
    background-color: black;

}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

}
.logo{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.shtuchki{
    display: flex;
    justify-content: space-between;
    width: 207px;

}
.first{
    display: block;
    width: 38px;
    height: 38px;
}
.second{
    display: block;
    width: 38 px;
    height: 38 px;
}
.third{
    display: block;
    width: 38 px;
    height: 38 px;
}
.main{
    background-color: black;
}
.merch{
    display: flex;
    display: grid;

}
.text{
    font-weight: bold;
    color: aliceblue;
}

.fwo img {
    width: 360px;
    height: 372px;
    border: 5px ;
    border-color: red;
    border-style: solid ;
}


.fwo2 img{
    width: 336px;
    height: 338px;
    border: 5px;
    border-color: red;
    border-style: solid;

}