body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.header{
    margin: auto;
    background-color: black;

}
.videoofirst{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

}
.logo{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.shtuchki{
    display: flex;
    justify-content: space-between;
    width: 207px;

}
.first{
    display: block;
    width: 38px;
    height: 38px;
}
.second{
    display: block;
    width: 38 px;
    height: 38 px;
}
.third{
    display: block;
    width: 38 px;
    height: 38 px;
}
.main{
    background-color: black;
}
.merch{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    padding: 15px;
    max-width: 1200px;
    margin: 50px auto; 
    padding: 0 20px; /
}
.text{
    font-weight: bold;
    color: aliceblue;
}

.fwo img {
    width: 360px;
    height: 372px;
    border: 5px ;
    border-color: red;
    border-style: solid ;
}

.fwo2 img{
    width: 336px;
    height: 338px;
    border: 5px;
    border-color: red;
    border-style: solid;

}

.button{
    background-color: #00000000;
    color: #ffffff;
    border: 3px ;
    border-color: aliceblue;
    border-style: solid;
    padding: 15px 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.contein{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.tipav{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.merch2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    padding: 15px;
    max-width: 1200px;
    margin: 50px auto; 
    padding: 0 20px;
}

.text2{
    font-weight: bold;
    color: aliceblue;
}

.main-image{
    object-fit: cover;
}

.ovelay-image{
    position: absolute;
    width: 72px; 
    height: 22px;
}

.button2{
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 210px;
    height: 80px;
    font-size: 25px;
}

.tipospoty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contein2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
}

.textt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.SHOPBY{
    text-align: center;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 20px 0;
    padding: 15px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.redligh{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    padding: 15px;
    margin: 50px auto;
}


.redone{
   position: relative;
    display: inline-block;
    margin: 5px;
}
.image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
}

.photoall{
    object-fit: cover;
    margin-top: 10spx;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hr{
    border: none; 
    height: 1px;
    background: white;
     margin: 20px 0;
}

.button21{
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 240px;
    height: 90px;
    font-size: 25px;
}


.almost{
  text-align: center;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 20px 0;
    padding: 15px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.last{
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, auto); 
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 50px;
    text-align: center;

}
.mainpage{
    background-color: #000;
}

.pocherkivanie{
    font-size: small;
    color: #ffffff;
    padding-left: 250px;
    text-decoration: underline;
}

.arrow{
    width: 15px;
    height: 15px;
}

.stroka{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif; 
}
.colonka{
    width: 69px;
    height: 69px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    padding: 1px;
    margin: 10px auto;
    gap: 5px;
    padding-left: 10px;
}